<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--CSS-->
  <link rel="stylesheet" href="css/styles.css">
  <!--Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
  integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer" />
  <title>To Do List</title>
</head>
<body>
  <div class="todo-container">  
      <header>
        <h1>ToDo List </h1>
        <p>It's <%= kindOfDay %> ! </p>
      </header>

      <form id="todo-form" class="" action="/" method="post">
          <h3>Add your next task:</h3>
          <div class="form-control">
              <input type="text" name="newItem" id="todo-input" placeholder="What will your next task be?" autocomplete="off" />
              <button type = "submit">
                <i class="fa-solid fa-plus"></i>    
              </button>    
          </div>    
      </form>

      <div id="todo-list">
        <h3>To do:</h3>
          <% newListItems.forEach(function(item) {  %>
            <form action="/delete" method="post">
              <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                <p> <%= item.name %> </p>
              </div>
            </form>
          <% }) %>
      </div>
    </div>
  </div>
</body>
</html>