<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ToDo List</title>
</head>
<body>
  <div class="todo-container">  
      <header>
        <h1>ToDo List</h1>
        <p>It's <%=kindOfDay%> ! </p>
      </header>
      
  </div>
</body>
</html>