
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
  box-sizing: border-box;
}

body {
  background-image: url("../img/pexels-content-pixie-2736499.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

button {
  background-color: #3e838c;
  padding: 0.3rem 0.6rem;
  border: 2px solid #3e838c;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-weight: bold;
}

button i {
  pointer-events: none;
}

button:hover {
  background-color: #fff;
}

button:hover > i {
  color: #3e838c;
}

input {
  padding: 0.3rem 0.5rem;
  color: black;
  margin-right: 0.4rem;
  border: 2px solid #3e838c;
  border-radius: 0.5rem;
  width: 100%;
}

.todo-container {
  background-color: #144e529e;
  width: 50%;
  margin: 4rem auto ;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.todo-container header {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cbf3f6;
}

.todo-container header p {
  margin-top: 5px;
}

.todo-container h3 {
  margin-bottom: .5rem;
  font-weight: bold;
}

#todo-form {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #ffffff49;
  border-radius: 0.5rem
}

.form-control {
  display: flex;
  
}

#todo-list {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #ffffff49;
  border-radius: 0.5rem;
}

#todo-list form {
  border-bottom: 1px solid #F1F1F1;
}

.item {
  display: flex;
  width: 100%;
  align-items: center;
}

.item p{
  margin: 5px 0;
}

#todo-list form:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color:#3e838c;
}

input[type="checkbox"] {
  margin: 15px;
  width: auto;
}
